@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h2> Get a Scrabble Score for your word.</h2>
<form action="/scrabbleScore" method="post">
  <div class="form-group">
    <label for="userWord">Article</label>
    <input name="userWord" value="" type="text">
  </div>
  <button type="submit">Get Scrabble Score</button>
</form>
</div>